Praktinis1/Author.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="authors" type="authorsType"/>

  <xs:element name="account" type="accountType"/>

  <xs:element name="awards" type="awardsType"/>

  <xs:element name="books" type="booksType"/>

  <xs:element name="id" type="xs:string"/>
  <xs:element name="password" type="xs:string"/>
  <xs:element name="userName" type="xs:string"/>
  <xs:element name="firstName" type="xs:string"/>
  <xs:element name="lastName" type="xs:string"/>
  <xs:element name="title" type="xs:string"/>
  <xs:element name="years" type="xs:string"/>
  <xs:element name="name" type="xs:string"/>

  <xs:complexType name="authorsType">
    <xs:sequence>
      <xs:element ref="author" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="author" type="authorType"/>

  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element ref="account"/>
      <xs:element ref="awards" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="books" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="firstName"/>
      <xs:element ref="id"/>
      <xs:element ref="lastName"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="accountType">
    <xs:sequence>
      <xs:element ref="id"/>
      <xs:element ref="password"/>
      <xs:element ref="userName"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="awardsType">
    <xs:sequence>
      <xs:element ref="id"/>
      <xs:element ref="title"/>
      <xs:element ref="years"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="booksType">
    <xs:sequence>
      <xs:element ref="id"/>
      <xs:element ref="name"/>
      <xs:element ref="years"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
